header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 70;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: transparent;
  transition: all ease 0.5s;
}

header.black {
  background-color: #141414;
}

.header--logo a {
  font-weight: bold;
  font-size: 25px;
  color: #d91921;
  text-decoration: none;
}

.header--user a {
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.header--user a:hover {
  color: #eee;
}